@page
@model IndexModel
@section head{
    <style type="text/css">
        body {
            background-color:darkolivegreen;
            width: auto;
            height: auto;
            margin: 0;
        }
    </style>
}
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div class="text-center">
    
        <h1 class="display-4">ITS BIGFOOT TIME MOTHER FUCKERS</h1>
        <p>LOOK AT THE HAIRY BEAST</p>
        <img src="/images/bigfoot.jpg" alt="foot big" width="800" height="600">
    </div>
</div>
